/*make sure you remove the <b> tags & use <class bold> -- this keeps HTML cleaner & more readable
& also less work. For example, if you want to change everything in a document, you just change the css
instead of going into the html document & changing <b> one by one.*/

*{
	margin: 0px;
}
#wrapper{
	width: 970px;
	padding: 10px;
	background-color: #f9f9f9;
}
#header{
	background-color:#DCDCDC;
	border-radius: 15px;
	margin-bottom: 20px;
	padding: 15px;

}
#navigation{
	background-color:#DCDCDC;
	display: inline-block;
	vertical-align: top;
	width:250px;
	height:350px;
	border-radius: 15px;
	padding-top: 15px;

}

#navigation p a {
	text-decoration: none;
}

#navigation ul a {
	text-decoration: none;
}
#main_content{
	background-color:#808080;
	display: inline-block;
	vertical-align: top;
	width: 685px;
	height: 450px;
	border-radius: 20px;
	padding: 30px 10px 0px 10px;
	margin-left: 10px;
}

#footer{
	background-color:#DCDCDC;
	height: 40px;
	padding: 12px;
	border-radius: 15px;
	margin-top: 20px;
}
#footer p{
	font-size: 14px;
	line-height: 20px;
}

h2{
	font-size: 30px;
	line-height: 50px;
}
#main_content ul li{
	margin: 1em 0;
}

#navnest{
	margin-right: 20px;
	padding: 0px 0px 0px 10px;
}
#navnest li a{
	text-decoration: none;
}
a:visited{
	color:blue;
}

.bold{
	font-weight: bold;
}
