*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
}
#container{
	width: 950px;
}
a{
	color: #1486d8;
}
span{
	font-weight: bold;
}
header{
	height: 150px;
}
	header h1{
	display: inline;
	}
	header h2{
		background-color: #1486d8;
		padding: 10px 0px 10px 10px;
		color: white;
	}

	#navlinks{
		background-color: #efecec;
		border: 1px solid gray;
		display: inline;
		margin-left: 450px;
		padding: 10px 0px 10px 10px;
		border-radius: 5px;
	}
	header ul li{
		display: inline;
		border-right: 1px solid gray;
	}
	header ul li a{
	text-decoration: none;
	padding: 0px 12px 0px 8px;
	font-size: 12px;
	color: gray;
	}
	header ul li:last-child{ 
		border: none;
	}
	header button{
		background-color: #1486d8;
		padding: 5px;
		color: white;
		margin-left: 15px;
		border-radius: 5px;
	}

#wordstreamlogo img, #wordstreamlogo h1{
	display: inline-block;
	vertical-align: top;
	margin: 0px 0px 5px 10px;
}
#wordstreamlogo h1{
	margin-top: 13px;
	color: gray;
}
#wordstreamlogo h1 span{
	color: #1486d8;
}
/*Main Content left side*/
#maincontent{
	width: 500px;
}
#leftcontent{
	display: inline-block;
	vertical-align: top;
	width: 240px;
	font-size: 15px;
	margin: 50px 10px;
}
#leftcontent h3{
	color: #1486d8;
}
#leftcontent p{
	font-size: 12px;
	padding-top: 10px;
}
#leftcontent p#driveprofits{
	color: #ff3f00;
	font-weight: bold;
}
#leftcontent button#scheduledemo{
	padding: 10px 58px;
	text-align: center;
	border-radius: 5px;
	background-color: #1486d8;
	color: white;
	margin: 25px 0px 5px 0px;
}
#leftcontent button#freetrial{
	padding: 10px 74px;
	text-align: center;
	border-radius: 5px;
	background-color:#ff3f00;
	color: white;
	margin-bottom: 10px
}
#leftcontent p#nocc{
	font-size: 12px;
	text-align: center;
	margin-bottom: 20px;
	border-bottom: 1px solid gray;
}
#leftcontentad{
	width: 220px;
	background: url(left_content_ad.png);
	background-repeat: no-repeat;
	height: 241px;
}
#leftcontentad h3{
	font-size: 15px;
	margin: 10px 0px 0px 5px;
}
#leftcontentad p{
	margin-left: 5px;
}
#leftcontentad button{
	padding: 5px 25px;
	margin: 20px 0px 0px 10px;
	border-radius: 5px;
	background-color: #0c3786;
	color: white;
}

/*right content stuff*/
#rightcontent{
	width: 680px;
	display: inline-block;
	vertical-align: top;
}
#rightheader{
	border-bottom: 1px solid gray;
}
#rightheader, #homebutton, h4, img#phone, #officecontact{
	display: inline-block;
	vertical-align: top;
}

#officecontact{
	margin-left: 5px;
	margin-bottom: 15px;
}

#rightheader img#phone{
	margin-left: 439px;
}
#rightcontent #rightheader p.officeinfo{
	font-size: 9px;
}
#rightcontent #rightheader #officecontact p.phonenumber{
	color:#1486d8;
	font-size: 19px;
}
#rightcontent h3{
	color: #1486d8;
	margin: 10px 0px;
}
#rightcontent p, ul, li{
	font-size: 12px;
}
#rightcontent ul li{
	margin: 10px 0px 15px 20px;
}
#rightcontentad{
	border: 3px solid #1486d8;
	display: inline-block;
	margin-top: 20px;
}
#rightcontentad img{
	display: inline-block;
	vertical-align: top;

}
#rightcontentdescription{
	display: inline-block;
	width: 538px;
	height: 140px;
}
#rightcontentdescription p{
	padding-top: 5px;
}
#rightcontentdescription button{
	padding: 10px 20px;
	margin-top: 20px;
	background: linear-gradient(#4CAF50, #b9e8bb);
	border-radius: 5px;
	color: white;
	/*font-size: 14px;*/
}
#rightcontent h4{
	color:#1486d8;
	padding: 10px 0px;
}