*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
#container{
	width: 970px;
	padding: 10px;
}

#header{
	background-color: maroon;
	padding: 10px;
}
#header img, h1{
	display: inline-block;
	vertical-align: top;
}
#header h1{
		color: white;
		font-size: 20px;
		margin-top: 20px;
	}

#leftheader {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}
/*Top right links with text size & form*/
#toprightheader {
	display: inline-block;
	vertical-align: top;
	margin-left: 220px;
}

#toprightheader li {
	color: white;
	display: inline;
	vertical-align: top;
}

#textlinks{
	font-size: 12px;
}
#textlinks a{
	color: yellow;
	font-size: 12px;
}

#toprightheader form{
	margin-top:5px;
	margin-left: 45px;
}

#toprightheader input[type=submit]{
	background-color: maroon;
	border: 1px solid white;
	color: white;
	padding: 2px;
}

/*navigation for under the header*/
#navigation{
	background-color: #E5E5E5;
	padding: 10px;
	border: 1px solid gray;
}
#navigation ul li{
	display:inline;
	padding: 3px 5px 0px 0px;
	border-right: 1px solid black;
	font-size: 12px;
}


/*box for the main content with side bar & right side content*/
#main_content{
	font-size: 12px;
	margin-top: 10px;
}

#sidebar{
	display:inline-block;
	vertical-align: top;	
	border: 1px solid gray;
	background-color: #E5E5E5;
	margin: 20px 0px 0px 10px;
	height: 235px;
	width: 170px;
}
#sidebar ul{
	padding: 10px 0px 0px 20px;
}
#sidebar ul li{
	padding: 10px 0px 0px 0px;
	color: maroon;
	margin-left: 10px;
}
/*right side content styling*/
#content{
	display:inline-block;
	vertical-align: top;
	height: 700px;
	width: 600px;
	margin: 20px;
	padding: 10px;
}

#content h2{
	color: maroon;
}

#content h3, h4{
	color: maroon;
	margin-top: 15px;
}

#content h4, a{
	color: maroon;
}
#content ul li{
	margin-left: 30px;
	padding-top: 5px;
}
#content ol {
	margin-top: 10px;
}
#content ol li{
	margin: 5px 0px 0px 30px;
}

.bold{
	font-weight: bold;
}
#content p{
	margin-top: 15px;
}
#content h3.content_border{
	border-top: 2px solid gray;
	padding-top: 10px;
}
